<div class="auth-form-light text-center px-4 px-sm-5">
    <h4 class="orange font-weight-bold p-2"></h4>
    <div class="brand-logo justify-content-center">
        <img src="assets/images/logo-menu.png" alt="logo">
    </div>

    <div *ngIf="this.cargando" class="w-100 text-center pb-5">
        <img alt="Enviando ..." src="assets/images/loadings/loading1-16x16.gif" style="display: inline; height:16px; margin-right:2px;" />
        <p style="display: inline;" class="text-black pb-5">Obteniendo datos...</p>
    </div>

    <div class="w-100 d-flex justify-content-center pt-2 pb-5 flex-column" 
        style="text-align: center;" 
        *ngIf="this.mostrarMensajeCarga">
        
        <div class="w-100 d-flex justify-content-center">
            <img src="assets/images/exclamation-64.png" alt="" width="64" height="64" />
        </div>
        <span class="text-black mb-5">{{this.mensajeCarga}}</span>

        <!-- Opciones nueva solicitud -->
        <div class="d-flex flex-column w-100 pb-5" *ngIf="this.mostrarOpcionesNuevoToken">
          
            <div class="col-md-12 text-center pt-5 pb-5" style=" text-align: center;">
                <button type="button" class="btn btn-outline-blue border-gray" 
                    (click)="this.toForgotPassword()">Nueva solicitud de recuperación de contraseña</button>
            </div>
        </div>

    </div>

    <div id="divContenido" class="d-flex w-100 mt-2 mb-5 pb-5 row" *ngIf="this.mostrarFormulario">

        <h6 class="text-black">Crear nueva contraseña para el usuario {{this.email}}</h6>


        <form [formGroup]="this.formularioNuevaPassword" 
            class="form-horizontal form-simple mt-3 d-flex w-100"
            (ngSubmit)="this.guardar()">

            <div class="d-flex flex-column w-100">

                <fieldset class="my-validation-sumary">
                    <div class="col-xs-12 text-center" style=" text-align: center;">
                        {{this.textoError}}
                    </div>
                </fieldset>
               
                <fieldset class="form-group position-relative has-icon-left row">
                    <div class="form-control-position grey align-items-center input-icon">
                        <i class="icon-key3 gray"></i>
                    </div>
                    <input type="password" 
                        class="form-control border-gray form-control-lg input-lg"
                        placeholder="Contraseña"
                        maxlength="110"
                        formControlName="password"
                        (keydown.space)="$event.preventDefault();"
                        [class.input-validation-error]="this.campoNoValido('password')"
                        />
                    <span id="spnPassword" style="font-size:75%; color: red;"  *ngIf="this.campoNoValido('password')">
                        Campo obligatorio
                      </span>
                </fieldset>

                <fieldset class="form-group position-relative has-icon-left row">
                    <div class="form-control-position grey align-items-center input-icon">
                        <i class="icon-key3 gray"></i>
                    </div>
                    <input type="password" 
                        class="form-control border-gray form-control-lg input-lg"
                        placeholder="Confirme contraseña"
                        maxlength="110"
                        formControlName="confirmPassword"
                        (keydown.space)="$event.preventDefault();"
                        [class.input-validation-error]="this.campoNoValidoComparison()"
                        />
                    <span style="font-size:75%; color: red;"  *ngIf="this.campoNoValidoComparison()">
                        {{this.formularioNuevaPassword.controls['confirmPassword'].errors | passwordMatchValidation }}
                      </span>
                </fieldset>
                
                <fieldset class="form-group position-relative has-icon-left row" *ngIf="!this.cargando">
                    <button type="submit" class="btn btn-outline-blue border-gray"><i class="icon-unlock2"></i> Enviar</button>
                </fieldset>
                <div *ngIf="this.enviando">
                    <img alt="Enviando..." src="assets/images/loadings/loading1-16x16.gif" style="display: inline;" />
                    <p id="textInfoEnvio" style="display: inline;" class="ml-1 black">Enviando...</p>
                </div>

            </div>

        </form>

    </div>





</div>