/* :host {
    width: 100% !important;
    padding-right: 10px;
    padding-left: 10px;
    margin-right: auto !important;
    margin-left: auto !important;
} */

.panoClass {
    width: 100%;
    height: 85vh;
    min-height: 85vh;
    border: solid 1px gray;
    margin-left: 0px !important;
}

.label-titulo{
    color: #2196F3 !important;
    font-weight: 500 !important;
}