input[type="text"],
input[type="password"] {
    margin: 0px !important;
}

.row {
    margin: 25px !important;
}

.input-icon {
    margin-top: 0.4em;
}

.auth form .form-group .form-control, .auth form .form-group .dataTables_wrapper select, .dataTables_wrapper .auth form .form-group select {
    line-height: 1.45;
    border-radius: 0.27rem !important;
}

.btn {
    border-radius: 0.1875rem !important;
    border-color: black;
}



.orange-alternative {
    color: #c48f17;
}