
<div class="auth-form-light text-center py-5 px-4 px-sm-5 card-block">

    <div class="brand-logo justify-content-center">
        <img src="assets/images/logo-menu.png" alt="logo">
    </div>
    <h4 class="text-black">Iniciar sesión para acceder</h4>

    <form [formGroup]="this.formularioLogin" autocomplete="off" (ngSubmit)="this.guardar()" class="form-horizontal form-simple mt-3">

        <fieldset class="my-validation-sumary">
            <div class="col-xs-12 text-center" style=" text-align: center;">
                <!-- @ViewData["ErrorLogin"] -->
            </div>
        </fieldset>

        <fieldset class="form-group position-relative has-icon-left mt-0 pt-0 row">
            <div class="form-control-position grey align-items-center input-icon">
                <i class="icon-head gray"></i>
            </div>
            <input type="text" 
                class="form-control border-gray form-control-lg input-lg" 
                placeholder="Email"
                formControlName="email" 
                (keydown.space)="$event.preventDefault();"
                [class.input-validation-error]="this.campoNoValido('email')" />
                <span id="spnEmailUsuario" style="font-size:75%; color: red; " *ngIf="this.campoNoValido('email')">
                    {{this.formularioLogin.controls['email'].errors | inputValidationEmail}}
                </span>
        </fieldset>
        <fieldset class="form-group position-relative has-icon-left row">
            <div class="form-control-position grey align-items-center input-icon">
                <i class="icon-key3 gray"></i>
            </div>
            <input type="password" 
                class="form-control border-gray form-control-lg input-lg"
                placeholder="Contraseña"
                maxlength="110"
                formControlName="password"
                (keydown.space)="$event.preventDefault();"
                [class.input-validation-error]="this.campoNoValido('password')"
                />
            <span id="spnPassword" style="font-size:75%; color: red;"  *ngIf="this.campoNoValido('password')">
                Campo obligatorio
              </span>
        </fieldset>
        <fieldset class="form-group position-relative has-icon-left row">
            <button type="submit" class="btn btn-outline-blue border-gray"><i class="icon-unlock2"></i> Iniciar sesi&oacute;n</button>
        </fieldset>
        <fieldset class="form-group position-relative has-icon-left row">
            <div class="my-2 d-flex justify-content-between align-items-center">
                <div class="form-check">
                </div>
                <a asp-controller="Account" asp-action="ForgotPassword" class="auth-link text-black">¿Olvidó su contraseña?</a>
            </div>
        </fieldset>

    </form>


</div>
