
<div class="auth-form-light text-center py-5 px-4 px-sm-5 card-block">

    <div class="brand-logo justify-content-center">
        <img src="assets/images/logo-menu-512.png" alt="logo">
    </div>
    <h4 class="text-black">Iniciar sesión para acceder</h4>

    <form class="form-horizontal form-simple mt-3" method="post">

        <fieldset class="my-validation-sumary">
            <div class="col-xs-12 text-center" style=" text-align: center;">
                @ViewData["ErrorLogin"]
            </div>
        </fieldset>

        <fieldset class="form-group position-relative has-icon-left mt-0 pt-0 row">
            <div class="form-control-position grey align-items-center input-icon">
                <i class="icon-head gray"></i>
            </div>
            <input asp-for="@Model.Username" type="text" class="form-control border-gray form-control-lg input-lg" placeholder="Email" />
            <span asp-validation-for="@Model.Username" class="validation-feedback" style="text-align: left;"></span>
        </fieldset>
        <fieldset class="form-group position-relative has-icon-left row">
            <div class="form-control-position grey align-items-center input-icon">
                <i class="icon-key3 gray"></i>
            </div>
            <input asp-for="@Model.Password" type="password" class="form-control border-gray form-control-lg input-lg" placeholder="Contraseña" />
            <span asp-validation-for="@Model.Password" class="validation-feedback" style="text-align: left;"></span>
        </fieldset>
        <fieldset class="form-group position-relative has-icon-left row">
            <button type="submit" class="btn btn-outline-blue border-gray"><i class="icon-unlock2"></i> Iniciar sesi&oacute;n</button>
        </fieldset>
        <fieldset class="form-group position-relative has-icon-left row">
            <div class="my-2 d-flex justify-content-between align-items-center">
                <div class="form-check">
                </div>
                <a asp-controller="Account" asp-action="ForgotPassword" class="auth-link text-black">¿Olvidó su contraseña?</a>
            </div>
        </fieldset>

    </form>


</div>
