<div class="row justify-content-center w-100">

    <!-- Titulo -->
    <div class="col-lg-12 d-flex flex-row">

        <div class="col-lg-12 d-flex flex-row" *ngIf="!this.mostrarDetalle">
            <i class="fas fa-angle-double-right fa-sm blue" style="position: relative; top: 10px; margin-right: 3px;"></i>
            <p class="mb-md-0 font-weight-bold justify-content-start blue">Editar cliente </p>
        </div>             
        
        <div class="col-lg-12 d-flex flex-row" *ngIf="this.mostrarDetalle">
            <i class="fas fa-angle-double-right fa-sm blue" style="position: relative; top: 10px; margin-right: 3px;"></i>
            <p class="mb-md-0 font-weight-bold justify-content-start blue" style="display: ruby !important;">
                Editar &nbsp;
                <span class="mb-md-0 font-weight-bold justify-content-start w-100 warning" style="left: -5px; position:relative;">Cliente {{this.clienteEditar?.nombre}}</span>
            </p>
        </div>
            
    </div>

    <div class="w-100 d-flex justify-content-center p-2 flex-column" style="text-align: center;" *ngIf="!this.mostrarDetalle">
        <div class="w-100 d-flex justify-content-center">
            <img src="assets/images/exclamation-64.png" alt="" width="64" height="64" />
        </div>
        <span>{{this.mensajeCarga}}</span>
    </div>


     <!-- Formulario contenido principal -->
     <div class="w-100" *ngIf="this.mostrarFormularioPrincipal">

        <div id="divDetalle" class="card w-100 mt-2 p-2 flex-xl-shrink-1 justify-content-center flex-column" style="width: 100% !important; margin-bottom: 0 !important; padding-bottom:0px !important;">
            <div class="d-flex justify-content-center" style="width: 100% !important;">
                <label class="text-black w-100">Detalle cliente</label>
            </div>

            <form id="formCrearCliente" [formGroup]="this.formEditar" (submit)="this.guardar()" >

                <div class="edicion-container d-flex flex-column justify-content-center pl-3 pr-3 pb-2 pt-1">

                    <div class="m-0">
                        <label class="text-black mb-0">Nombre cliente</label>
                        <input id="txtNombreCliente" 
                            name="txtNombreCliente" 
                            type="text"
                            class="form-control form-control-sm" 
                            placeholder=""
                            formControlName="nombre"
                            [class.input-validation-error]="this.campoNoValido('nombre')">

                        <span id="spnNombreInvalido" class="validation-feedback" style="text-align: left;" *ngIf="this.campoNoValido('nombre')">
                            campo obligatorio
                        </span>

                    </div>
                    <div class="m-0">
                        <label class="text-black mb-0 mt-1">Email</label>
                        <input id="txtEmail" 
                            name="txtEmail" 
                            type="text"
                            class="form-control form-control-sm" 
                            placeholder="" 
                            formControlName="email"
                            (keydown.space)="$event.preventDefault();"
                            [class.input-validation-error]="this.campoNoValido('email')">

                        <span id="spnEmailInvalido" class="validation-feedback" style="text-align: left;" *ngIf="this.campoNoValido('email')">
                            {{this.formEditar.controls['email'].errors | inputValidationEmail}}
                        </span>

                    </div>
                    <div class="m-0">
                        <label class="text-black mb-0 mt-1">Nombre contacto</label>
                        <input id="txtNombreContacto"
                            name="txtNombreContacto" 
                            type="text"
                            class="form-control form-control-sm" 
                            placeholder=""
                            formControlName="nombreContacto"
                            [class.input-validation-error]="this.campoNoValido('nombreContacto')">

                        <span id="spnNombreContactoInvalido" class="validation-feedback" style="text-align: left;" *ngIf="this.campoNoValido('nombreContacto')">
                            campo obligatorio
                        </span>

                    </div>
                    <div class="m-0">
                        <label class="text-black mb-0 mt-1">Teléfonos contacto</label>
                        <input id="txtTelefonosContacto" 
                            name="txtTelefonosContacto" 
                            type="text"
                            class="form-control form-control-sm" 
                            placeholder=""
                            formControlName="telefonosContacto"
                            [class.input-validation-error]="this.campoNoValido('telefonosContacto')">

                        <span id="spnTelefonosContactoInvalido" class="validation-feedback" style="text-align: left;" *ngIf="this.campoNoValido('telefonosContacto')">
                            campo obligatorio
                        </span>
                    </div>
                    <div class="m-0">
                        <label class="text-black mb-0 mt-1">Dirección</label>
                        <input id="txtDireccion" 
                            name="txtDireccion" 
                            type="text"
                            class="form-control form-control-sm" 
                            placeholder=""
                            formControlName="direccion"
                            [class.input-validation-error]="this.campoNoValido('direccion')">

                        <span id="spnDireccionInvalido" class="validation-feedback" style="text-align: left;" *ngIf="this.campoNoValido('direccion')">
                            campo obligatorio
                        </span>

                    </div>


                    <div id="divValidationInfo" class="m-0 input-validation-error" style="text-align: center;">
                    </div>
                    <div class="d-flex justify-content-end">
                        <button id="btnGuardar" type="submit" class="btn btn-sm btn-sm-custom btn-warning" style=" margin-right: 2em !important; margin-bottom: 1em !important;">
                            Guardar
                        </button>
                    </div>
                </div>

            </form>

        </div>

    </div>


    <!-- Opciones-->
    <div id="containerOpciones" style="width: 100% !important;" *ngIf="this.mostrarOpcionesPosteriores">
        <div id="rowWrapperOptions" class="w-100 d-flex justify-content-center">

            <div class="card d-flex w-100 justify-content-center">
        
                <div class="card-body d-flex justify-content-center">
                    <div class="card-block">
        
                        <div class="card-title justify-content-center">
                            <p id="textoOptionsResp" class="blue text-center">{{this.textoOpcionesPosterior}}</p>
                        </div>
                        <div class="media justify-content-center">
                            <div class="media-right wraper-btn-options">
                                <a (click)="this.redirectToCreate()"
                                   class="btn btn-sm btn-options btn-outline-light-orange border-black m-2">Crear otro cliente</a>
        
                                <a (click)="this.redirectToBusqueda()"
                                   class="btn btn-sm btn-options btn-outline-light-orange border-black m-2">Búsqueda de clientes</a>
        
                                <a (click)="this.redirectoTo360Images()"
                                    class="btn btn-sm btn-options btn-outline-light-orange border-black m-2">Editar fotos 360</a>
                            </div>
                        </div>
        
                    </div>
                </div>
        
            </div>
        
        </div>
    </div>

    <!-- Overlay General -->
    <div id="modalOverlayGeneral" class="d-abslt cBaseCuadranteBloqueo" *ngIf="this.mostrarOverlay"
            style=" z-index:8; background-color:rgba(180, 180, 180, 0.5); width: 100%; height: 100%; padding-top: 8em;">
        
        <!-- Cargando -->
        <div id="modalOverlayLoadingGeneral" class="modalOverlayLoadingCustom" *ngIf="this.mostrarLoading">
            <img alt="Enviando ..." src="assets/images/loadings/loading1-16x16.gif" style="display: inline; height:16px; margin-right:2px;" />
            <p style="display: inline;">Actualizando...</p>
        </div>
        
        <!-- Overlay INFO-->
        <div id="modalOverlayInfoGeneral" class="modalOverlayInfoCustom" *ngIf="this.mostrarInfoGeneral">
            <button id="btnCerrarOverlayGeneral" (click)="this.ocultarModal()" type="button" class="close modalOverlayCerrarCustom modalOverlayBtnCerrar">
                <span aria-hidden="true" class="modalOverlayBtnX">&times;</span>
            </button>
            
            <!-- parrafo info -->
            <p id="textInfoOverlayGeneral" style="display: inline; text-align: center !important;">
               {{this.textoOverlay}}
            </p>

        </div>
    </div>


</div>
