<!-- Contenedor general -->
<div class="row justify-content-center w-100">

    <!-- Titulo -->
    <div class="col-lg-12 d-flex flex-row">
        <i class="fas fa-angle-double-right fa-sm blue" style="position: relative; top: 10px; margin-right: 3px;"></i>
        <p class="mb-md-0 font-weight-bold justify-content-start blue w-100">Usuarios</p>
    </div>

    <!-- Filtros de búsqueda -->
    <div class="row w-100 mt-0 justify-content-center">
        
        <form [formGroup]="this.formBusqueda" class="form-inline" method="post" style="width: 100% !important;">

            <div class="d-flex justify-content-center row-container-busqueda" style="width: 100% !important;">
                <div class="m-0 col-Busqueda">
                    <label class="text-black">Email</label>
                    <input type="text" 
                        class="form-control form-control-sm w-100"
                        placeholder="Email"
                        formControlName="email"
                        >
                </div>
                <div class="m-0 col-Busqueda">
                    <label class="text-black">Nombre completo</label>
                    <input type="text" 
                        class="form-control form-control-sm w-100"
                        placeholder="Nombre completo"
                        formControlName="nombres">
                </div>
                <div class="m-0 col-Busqueda">
                    <label class="text-black">Rol</label>
                    <select class="form-control form-control-sm form-control-ddl-sm w-100"
                        formControlName="rol">
                        <option value="">Todos</option>
                        <option *ngFor="let r of this.roles" [value]="r.codigo">{{r.descripcion}}</option>
                    </select>
                </div>
                <div class="m-0 col-Busqueda-buttons">
                    <label class="text-black textAuxSpacing">&nbsp;</label>
                    <div class="flex-row" style=" display: flex !important;">
                        <button id="btnBuscar" type="submit" class="btn btn-sm btn-sm-custom" (click)="this.buscarClick()">Buscar</button>
                        <a class="btn btn-sm btn-sm-custom btn-warning" (click)="this.crearClick()">Crear</a>
                    </div>

                </div>
            </div>

        </form>

    </div>

    <!-- Grid principal -->
    <div class="row w-100 justify-content-center p-0">

        <app-alert-mensaje></app-alert-mensaje>

        <div id="rowLoading" class="w-100" *ngIf="this.cargando">
            <img alt="Enviando ..." src="assets/images/loadings/loading1-16x16.gif" style="display: inline;" />
            <p id="textInfoEnvio" style="display: inline;" class="ml-2">Actualizando...</p>
        </div>

        <div id="gridBusquedaContainer" class="card w-100 ml-0 mt-2 p-0 flex-xl-shrink-1">

            <div *ngFor="let usr of this.usuarios; let i = index;"
                class="card-body ml-0 border-grey"
                [class.contenedorRowFlex]="i !== this.usuarios.length -1"
                [class.contenedorLastRowFlex]="i === this.usuarios.length -1">

                <div  class="d-flex flex-row customFlex-100 pb-0 contenedorRowFlex" style="border-bottom: 0px !important;">
                    <div class="p-1 celda" style="flex-basis: 25%;">
                        <p class="celda-Texto text-muted font-weight-bold small ">Email</p>
                        <div class="p-0 celda-Contenido">
                            <p class="text-muted small pr-1" style="word-break: break-all !important;">{{usr.email}}</p>
                        </div>
                    </div>
                    <div class="p-1 celda" style="flex-basis: 25%;">
                        <p class=" celda-Texto text-muted font-weight-bold small">Nombre</p>
                        <div class="p-0 celda-Contenido text-break">
                            <p class="text-muted small">{{usr.nombres}} {{usr.apellidos}}</p>
                        </div>
                    </div>
                    <div class="p-1 celda" style="flex-basis: 15%;">
                        <p class="celda-Texto text-muted font-weight-bold small">Rol</p>
                        <div class="p-0 celda-Contenido text-break">
                            <p class="text-muted small">{{usr.rol}}</p>
                        </div>
                    </div>
                    <div class="p-1 celda" style="flex-basis: 15%;">
                        <p class="celda-Texto text-muted font-weight-bold small">Estado</p>
                        <div class="p-0 celda-Contenido">
                            <p class="text-muted small">{{usr.estado}}</p>
                        </div>
                    </div>
                    <div class="p-1 celda" style="flex-basis: 10%;">
                        <p class="celda-Texto text-muted font-weight-bold small">Opciones</p>
                        <div class="p-0 d-flex flex-row celda-Contenido rounded-buttons-icons">
                            <a title="Ver el detalle de este usuario" (click)="this.onClickVerDetalle(usr.uid)"><i class="fas fa-info fa-sm"></i></a>
                            <a title="Editar este usuario" (click)="this.onClickEditar(usr.uid)"><i class="fas fa-pencil-alt fa-sm"></i></a>
                            <a title="Eliminar este usuario" (click)="this.onClickEliminar(usr)"><i class="fas fa-times fa-sm"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Paginator -->
            <nav class="mt-2" *ngIf="this.usuarios.length > 0">

                <div class="d-flex justify-content-center text-muted small p-1">
        
                    <form [formGroup]="this.formPaginator">
                        Ítems por página
                        <select class="paginationDdlSize ml-2 mr-1"
                            formControlName="ddlPageSize"
                            (change)="this.onDdlPageSizeChange()">
                            <option *ngFor="let pg of this.paginationSizes"
                                [value]="pg" 
                                [selected]="pg === this.pageSize" 
                               >{{pg}}</option>
                        </select>
                    </form>
                </div>
        
                <div class="d-flex justify-content-center text-muted small p-1">Página {{this.currentPage}} de {{this.pagesCount}}</div>
        
                <ul class="pagination justify-content-center" >
        
                    <li class="page-item paginationIconColor" [class.disabled]="!this.showFirst">
                        <a class="page-link" (click)="this.paginarBusqueda(1);"><i class="fas fa-angle-double-left"></i></a>
                    </li>
        
                    <li class="page-item paginationIconColor" [class.disabled]="!this.showPrevious">
                        <a class="page-link" (click)="this.paginarBusqueda(this.currentPage - 1);">
                            <i class="fas fa-angle-left"></i>
                        </a>
                    </li>
                    <li class="page-item paginationIconColor" [class.disabled]="!this.showNext">
                        <a class="page-link" (click)="this.paginarBusqueda(this.currentPage + 1);">
                            <i class="fas fa-angle-right"></i>
                        </a>
                    </li>
                    <li class="page-item paginationIconColor" [class.disabled]="!this.showLast">
                        <a class="page-link" (click)="this.paginarBusqueda(this.pagesCount);"><i class="fas fa-angle-double-right"></i></a>
                    </li>
                </ul>
        
            </nav>
    
        </div>

        <div class="d-flex p-1 m-1 justify-content-center" *ngIf="this.textoRespuestaBusqueda.length > 0">
            {{this.textoRespuestaBusqueda}}
        </div>

      
    </div>

    <!-- Modal info usuario -->
    <app-info-usuario-modal class="zindex-a"></app-info-usuario-modal>

    <!-- Modal borrar usuario -->
    <app-borrar-usuario-modal 
        (onUsuarioBorrado)="this.onUsuarioBorrado($event.idUsuario, $event.nombreCompleto, $event.email)" 
        class="zindex-a">
    </app-borrar-usuario-modal>

   

</div>
