    <!-- Container-Scroller -->
    <div class="container-scroller">

        <!-- page-body-wrapper -->
        <div class="container-fluid page-body-wrapper full-page-wrapper">
            <!-- content-wrapper  -->
            <div class="content-wrapper d-flex align-items-center auth px-0">
                <div class="row w-100 mx-0">
                    <div class="col-lg-5 mx-auto">

                        <router-outlet></router-outlet>

                    </div>
                </div>
            </div>
            <!-- Fin content-wrapper  -->
        </div>
        <!-- Fin page-body-wrapper -->
    </div>
    <!-- Fin container-Scroller -->