.btnAddFoto {
    width: 30px !important;
    height: 30px !important;
    margin-left: 5px;
    top: 1.3px !important;
    position: relative;
    padding: 0px !important;
}
    .btnAddFoto:hover {
        background-color: #f8f8f8;
    }
.btnAddFoto i {
  /*  position: relative;
    left: -6px;*/
}

.btnEditFoto {
    width: 30px !important;
    height: 30px !important;
    top: 1.3px !important;
    position: relative;
    padding: 0px !important;
}

    .btnEditFoto:hover {
        background-color: #f8f8f8;
    }

    .btnEditFoto i {
        /*  position: relative;
        left: -6px;*/
        font-size: 1.0rem;
    }

