.modal95 {
    width: 95% !important;
    min-width: 95% !important;
    height: 95vh !important;
    min-height: 95vh !important;
}

.hight95 {
    height: 90vh !important;
    min-height: 90vh !important;
}
