<div class=" row justify-content-center w-100">

    <!-- Titulo -->
    <div class="col-lg-12 d-flex flex-row">
        <i class="fas fa-angle-double-right fa-sm blue" style="position: relative; top: 10px; margin-right: 3px;"></i>
        <p class="mb-md-0 font-weight-bold justify-content-start blue w-100">Clientes</p>
    </div>

    <!-- Filtros de búsqueda -->
    <div class="row w-100 mt-0 justify-content-center">

        <form id="formBuscarClientes" [formGroup]="this.formBusqueda" class="form-inline" method="post" style="width: 100% !important;">

            <div class="d-flex justify-content-center row-container-busqueda" style="width: 100% !important;">
                <div class="m-0 col-Busqueda">
                    <label class="text-black">Nombre completo</label>
                    <input id="txtNombresBusqueda" 
                        type="text" 
                        class="form-control form-control-sm w-100" 
                        placeholder="Nombre completo"
                        formControlName="nombres">
                </div>
                <div class="m-0 col-Busqueda">
                    <label class="text-black">Email</label>
                    <input id="txtEmailBusqueda" 
                        type="text" 
                        class="form-control form-control-sm w-100" 
                        placeholder="Email"
                        formControlName="email">
                </div>
                <div class="m-0 col-Busqueda-buttons">
                    <label class="text-black textAuxSpacing">&nbsp;</label>
                    <div class="flex-row" style=" display: flex !important;">
                        <button id="btnBuscar" type="submit" class="btn btn-sm btn-sm-custom" (click)="this.buscarClick();">Buscar</button>
                        <a class="btn btn-sm btn-sm-custom btn-warning" (click)="this.crearClick();">Crear</a>
                    </div>

                </div>
            </div>

        </form>

    </div>


    <!-- Grid principal -->
    <div class="row w-100 justify-content-center p-0">

        <div id="rowLoading" class="w-100" *ngIf="this.cargando">
            <img alt="Enviando ..." src="assets/images/loadings/loading1-16x16.gif" style="display: inline;" />
            <p id="textInfoEnvio" style="display: inline;" class="ml-2">Actualizando...</p>
        </div>

        <div id="gridBusquedaContainer" class="card w-100 ml-0 mt-2 p-0 flex-xl-shrink-1">

            <div *ngFor="let cli of this.clientes; let i = index;"
                class="card-body ml-0 border-grey"
                [class.contenedorRowFlex]="i !== this.clientes.length -1"
                [class.contenedorLastRowFlex]="i === this.clientes.length -1">

                <div  class="d-flex flex-row customFlex-100 pb-0 contenedorRowFlex" style="border-bottom: 0px !important;">
                    <div class="p-1 celda" style="flex-basis: 10%;">
                        <p class="celda-Texto text-muted font-weight-bold small ">Código</p>
                        <div class="p-0 celda-Contenido">
                            <p class="text-muted small pr-1" style="word-break: break-all !important;">{{cli.id}}</p>
                        </div>
                    </div>
                    <div class="p-1 celda" style="flex-basis: 20%;">
                        <p class=" celda-Texto text-muted font-weight-bold small">Cliente</p>
                        <div class="p-0 celda-Contenido text-break">
                            <p class="text-muted small">{{cli.nombre}}</p>
                        </div>
                    </div>
                    <div class="p-1 celda" style="flex-basis: 20%;">
                        <p class=" celda-Texto text-muted font-weight-bold small">Email</p>
                        <div class="p-0 celda-Contenido text-break">
                            <p class="text-muted small">{{cli.email}}</p>
                        </div>
                    </div>
                    <div class="p-1 celda" style="flex-basis: 10%;">
                        <p class="celda-Texto text-muted font-weight-bold small">Ventas</p>
                        <div class="p-0 celda-Contenido">
                            <p class="text-muted small">{{cli.ventasCount}}</p>
                        </div>
                    </div>
                    <div class="p-1 celda" style="flex-basis: 10%;">
                        <p class="celda-Texto text-muted font-weight-bold small">Propiedades</p>
                        <div class="p-0 celda-Contenido">
                            <p class="text-muted small">{{cli.cantidadPropiedades}} de {{cli.cupoPropiedades}} </p>
                        </div>
                    </div>
                    <div class="p-1 celda" style="flex-basis: 10%;">
                        <p class="celda-Texto text-muted font-weight-bold small">Fotos</p>
                        <div class="p-0 celda-Contenido">
                            <p class="text-muted small">{{cli.cantidadFotos}} de {{cli.cupoFotos}}</p>
                        </div>
                    </div>
                    <div class="p-1 celda" style="flex-basis: 10%;">
                        <p class="celda-Texto text-muted font-weight-bold small">Pagos</p>
                        <div class="p-0 celda-Contenido">
                            <p class="text-muted small">$ {{cli.valorPagos | number:'':'es'}} </p>
                        </div>
                    </div>
                    <div class="p-1 celda" style="flex-basis: 10%;">
                        <p class="celda-Texto text-muted font-weight-bold small">Estado</p>
                        <div class="p-0 celda-Contenido">
                            <p class="text-muted small">{{cli.estado}}</p>
                        </div>
                    </div>
                    <div class="p-1 celda" style="flex-basis: 10%;">
                        <p class="celda-Texto text-muted font-weight-bold small">Opciones</p>
                        <div class="p-0 d-flex flex-row celda-Contenido rounded-buttons-icons">
                            <a title="Ver el detalle de este cliente" (click)="this.onClickVerDetalle(cli.idx)"><i class="fas fa-info fa-sm"></i></a>
                          
                                <a title="Cambiar a estado 'Vigente'" *ngIf="cli.estado === 'suspendido'" 
                                    (click)="this.cambiarEstado(cli.idx)" ><i class="fas fa-user-slash fa-sm"></i>
                                </a>
                                <a title="Cambiar a estado 'Suspendido'" *ngIf="cli.estado === 'vigente'" 
                                    (click)="this.cambiarEstado(cli.idx)" ><i class="fas fa-user-slash fa-sm"></i></a>
    
                            <a title="Editar este cliente" (click)="this.editar(cli)"><i class="fas fa-pencil-alt fa-sm"></i></a>
                            <a title="Eliminar este cliente" (click)="this.eliminar()"><i class="fas fa-times fa-sm"></i></a>
                        </div>
                    </div>
    
                </div>
    
          
        </div>

        <div class="d-flex p-1 m-1 justify-content-center" *ngIf="this.textoRespuestaBusqueda.length > 0">
            {{this.textoRespuestaBusqueda}}
        </div>

    </div>

    <!-- Modal info cliente -->
    <app-info-cliente-modal class="zindex-a"></app-info-cliente-modal>

     <!-- Modal cambiar estado cliente -->
     <app-cambiar-estado-cliente-modal class="zindex-a" (recargarBusqueda)="this.recargarBusquedaClientes()"></app-cambiar-estado-cliente-modal>



</div>