<nav class="sidebar sidebar-offcanvas" id="sidebar" style="margin-top: -5px;">
    <ul class="nav">
    
        <li class="nav-item" [title]="m.titulo" *ngFor="let m of this.menuService.menu">
            <a [routerLink]="m.url"  class="nav-link" routerLinkActive="menuBorderActivo">
                <img class="menuBase" src="assets/images/{{m.imagen}}" style="width: 30px !important; height: 30px !important;" />
                <span class="textoMenu ml-2">{{m.titulo}}</span>
            </a>
        </li>
        <li class="nav-item" title="Salir del sistema">
            <a (click)="salir()" class="nav-link @menuExit.ClassBorder">
                <img class="assets/images/salir.png" src="assets/images/salir.png" alt="Salir del sistema"
                     style="width: 30px !important; height: 30px !important;" />
                <span class="textoMenu ml-2">Salir</span>
            </a>
        </li>

    </ul>
</nav>