<!-- Contenedor general -->
<div class="row justify-content-center w-100">

    <!-- Titulo -->
    <div class="col-lg-12 d-flex flex-row">

        <div *ngIf="!this.mostrarDetalle" class="d-flex w-100">
            <i class="fas fa-angle-double-right fa-sm blue" style="position: relative; top: 10px; margin-right: 3px;"></i>
            <p class="mb-md-0 font-weight-bold justify-content-start blue">Editar datos de usuario </p>
        </div>
       
        <div *ngIf="this.mostrarDetalle" class="d-flex w-100">
            <i class="fas fa-angle-double-right fa-sm blue" style="position: relative; top: 10px; margin-right: 3px;"></i>
            <p class="mb-md-0 font-weight-bold justify-content-start blue" style="display: ruby !important;">
                Editar datos de usuario &nbsp;
                <span class="mb-md-0 font-weight-bold justify-content-start w-100 warning" 
                    style="left: -5px; position:relative;">{{this.accountService.usuario!.email}}</span>
            </p>
        </div>

    </div>


    <!-- Formulario contenido principal -->
    <div class="w-100" *ngIf="this.mostrarFormularioPrincipal">

        <div id="divDetalle" class="card w-100 mt-2 p-2 flex-xl-shrink-1 justify-content-center flex-column" style="margin-bottom: 0 !important; padding-bottom:0px !important;">
          
            <div class="d-flex justify-content-center" style="width: 100% !important;">
                <label class="text-black w-100">Detalle usuario</label>
            </div>

            <form [formGroup]="this.formEditar"  (submit)="this.guardar()" >

                <div class="edicion-container d-flex flex-column justify-content-center pl-3 pr-3 pb-2 pt-1">
                    <div class="m-0">
                        <label class="text-black mb-0 mt-1">Nombres</label>
                        <input type="text"
                            class="form-control form-control-sm" 
                            placeholder=""
                            formControlName="nombres"
                            [class.input-validation-error]="this.campoNoValido('nombres')">
                        <span class="validation-feedback" style="text-align: left;" *ngIf="this.campoNoValido('nombres')">
                            campo obligatorio
                        </span>
                    </div>
                    <div class="m-0">
                        <label class="text-black mb-0 mt-1">Apellidos</label>
                        <input type="text"
                            class="form-control form-control-sm" 
                            placeholder=""
                            formControlName="apellidos"
                            [class.input-validation-error]="this.campoNoValido('apellidos')">
                        <span class="validation-feedback" style="text-align: left;" *ngIf="this.campoNoValido('apellidos')">
                            campo obligatorio
                        </span>
                    </div>
                    <div class="m-0 mt-1 pt-1">
                        <label class="text-black mb-0 mt-1 mr-2">Editar password </label>
                        <input type="checkbox" 
                            name="name" 
                            style="position: relative; top: 0.15rem;" 
                            formControlName="checkCambiarPassword"
                            (change)="this.onCheckPasswordChanged()">
                    </div>
                    <div class="m-0" *ngIf="this.mostrarPassword">
                        <label class="text-black mb-0 mt-1">Password</label>
                        <input type="password"
                            class="form-control form-control-sm" 
                            placeholder=""
                            formControlName="password"
                            [class.input-validation-error]="this.campoNoValido('password')">
                        <span class="validation-feedback" style="text-align: left;" *ngIf="this.campoNoValido('password')">
                            campo obligatorio
                        </span>
                    </div>
                    <div class="d-flex justify-content-end">
                        <button id="btnGuardar" type="submit" class="btn btn-sm btn-sm-custom btn-warning" style=" margin-right: 2em !important; margin-bottom: 1em !important;">
                            Guardar
                        </button>
                    </div>
                </div>
            </form>
        </div>

                
    </div>

    <!-- Opciones-->
    <div id="containerOpciones" style="width: 100% !important;" *ngIf="this.mostrarOpcionesPosteriores">
        <div id="rowWrapperOptions" class="w-100 d-flex justify-content-center">

            <div class="card d-flex w-100 justify-content-center">
        
                <div class="card-body d-flex justify-content-center">
                    <div class="card-block">
        
                        <div class="card-title justify-content-center">
                            <p id="textoOptionsResp" class="blue text-center">{{this.textoOpcionesPosterior}}</p>
                        </div>
                        <div class="media justify-content-center">
                            <div class="media-right wraper-btn-options">
                                <a (click)="this.redirectToEdit()"
                                   class="btn btn-sm btn-options btn-outline-light-orange border-black m-2">Volver a editar datos</a>
                                
                            </div>
                        </div>
        
                    </div>
                </div>
        
            </div>
        
        </div>
    </div>

    <!-- Overlay General -->
    <div id="modalOverlayGeneral" class="d-abslt cBaseCuadranteBloqueo" *ngIf="this.mostrarOverlay"
            style=" z-index:8; background-color:rgba(180, 180, 180, 0.5); width: 100%; height: 100%; padding-top: 8em;">
        
        <!-- Cargando -->
        <div id="modalOverlayLoadingGeneral" class="modalOverlayLoadingCustom" *ngIf="this.mostrarLoading">
            <img alt="Enviando ..." src="assets/images/loadings/loading1-16x16.gif" style="display: inline; height:16px; margin-right:2px;" />
            <p style="display: inline;">Actualizando...</p>
        </div>
        
        <!-- Overlay INFO-->
        <div id="modalOverlayInfoGeneral" class="modalOverlayInfoCustom" *ngIf="this.mostrarInfoGeneral">
            <button id="btnCerrarOverlayGeneral" (click)="this.ocultarModal()" type="button" class="close modalOverlayCerrarCustom modalOverlayBtnCerrar">
                <span aria-hidden="true" class="modalOverlayBtnX">&times;</span>
            </button>
            
            <!-- parrafo info -->
            <p id="textInfoOverlayGeneral" style="display: inline; text-align: center !important;">
               {{this.textoOverlay}}
            </p>

        </div>
    </div>


</div>
