<!-- Contenedor general -->
<div class="row justify-content-center w-100">

    <!-- Titulo -->
    <div class="col-lg-12 d-flex flex-row">

        <div *ngIf="!this.mostrarDetalle" class="d-flex w-100">
            <i class="fas fa-angle-double-right fa-sm blue" style="position: relative; top: 10px; margin-right: 3px;"></i>
            <p class="mb-md-0 font-weight-bold justify-content-start blue">Editar datos de usuario </p>
        </div>
            
       
        <div *ngIf="this.mostrarDetalle" class="d-flex w-100">
            <i class="fas fa-angle-double-right fa-sm blue" style="position: relative; top: 10px; margin-right: 3px;"></i>
            <p class="mb-md-0 font-weight-bold justify-content-start blue" style="display: ruby !important;">
                Editar datos de usuario &nbsp;
                <span class="mb-md-0 font-weight-bold justify-content-start w-100 warning" 
                    style="left: -5px; position:relative;">{{this.accountService.usuario!.email}}</span>
            </p>
        </div>

    </div>

    <div class="w-100">

        <div *ngIf="!this.mostrarDetalle">
            <div class="w-100 d-flex justify-content-center p-2 flex-column" style="text-align: center;">
                <div class="w-100 d-flex justify-content-center">
                    <img src="assets/images/exclamation-64.png" alt="" width="64" height="64" />
                </div>
                <span>@Model.MensajeErrorUsuario</span>
            </div>
       </div>

       <div *ngIf="this.mostrarDetalle">
            <div class="w-100">

                <div id="divDetalle" class="card w-100 mt-2 p-2 flex-xl-shrink-1 justify-content-center flex-column" style="width: 100% !important; margin-bottom: 0 !important; padding-bottom:0px !important;">
                    <div class="d-flex justify-content-center" style="width: 100% !important;">
                        <label class="text-black w-100">Detalle usuario</label>
                    </div>

                    <form id="formEditarUsuarioActual" [formGroup]="this.formCrear"
                          data-ajax="true" data-ajax-method="post" data-ajax-complete="completed" method="post">

                        <div class="edicion-container d-flex flex-column justify-content-center pl-3 pr-3 pb-2 pt-1">
                            <div class="m-0">
                                <label class="text-black mb-0">Nombres</label>
                                <input id="txtNombres" 
                                    name="txtNombres" type="text" 
                                    class="form-control form-control-sm" 
                                    placeholder=""
                                    formControlName="nombres">
                            </div>
                            <div class="m-0">
                                <label class="text-black mb-0 mt-1">Apellidos</label>
                                <input id="txtApellidos" 
                                    name="txtNombres" 
                                    type="text" 
                                    class="form-control form-control-sm" 
                                    placeholder=""
                                    formControlName="apellidos">
                            </div>

                            <div class="m-0 mt-1 pt-1">
                                <label class="text-black mb-0 mt-1 mr-2">Editar password</label>
                                <input id="chkPasword" type="checkbox" name="name" value="" style="position: relative; top: 0.15rem;"
                                    (change)="this.mostrarPassChange()">
                            </div>
                            <div id="rowPassword" class="m-0" *ngIf="this.editarPassword">
                                <input id="txtPassword" 
                                    name="txtPassword"
                                    type="password"
                                    class="form-control form-control-sm" 
                                    placeholder=""
                                    formControlName="password">
                            </div>
                            <div id="divValidationInfo" class="m-0 input-validation-error" style="text-align: center;">
                            </div>
                            <div class="d-flex justify-content-end">
                                <button id="btnGuardar" type="submit" class="btn btn-sm btn-sm-custom btn-warning" style=" margin-right: 2em !important; margin-bottom: 1em !important;">
                                    Guardar
                                </button>
                            </div>
                        </div>

                    </form>

                </div>

                <div id="containerOpciones" style="display: none !important; width: 100% !important;">
                  
                </div>

            </div>

        </div>


    </div>
