<div class=" row justify-content-center w-100">

    <!-- Titulo -->
    <div class="col-lg-12 d-flex flex-row">
        <i class="fas fa-angle-double-right fa-sm blue" style="position: relative; top: 10px; margin-right: 3px;"></i>
        <p class="mb-md-0 font-weight-bold justify-content-start blue w-100">Ventas</p>
    </div>
    
    <!-- Filtros de búsqueda -->
    <div class="row w-100 mt-0 justify-content-center">

        <app-alert-mensaje></app-alert-mensaje>

        <div class="col-lg-12">

            <form id="formBusquedaAdmin" [formGroup]="this.formBusqueda" class="form-inline" method="post" style="width: 100% !important;">

                <div class="d-flex justify-content-center row-container-busqueda" style="width: 100% !important;">
                    <div class="m-0 col-Busqueda">
                        <label class="text-black">Cliente</label>
                        <input id="txtClienteBusquedaAdm" 
                            type="text" 
                            class="form-control form-control-sm w-100" 
                            placeholder="cliente"
                            formControlName="cliente">
                    </div>
                    <div class="m-0 col-Busqueda-dates">
                        <label class="text-black">Desde</label>
                        <input id="dtFechaInicioAdm" 
                            type="date" name="DesdeBusquedaAdm" placeholder="desde"
                            class="form-control form-control-sm w-100"
                            maxlength="10"
                            style="padding-right:0px!important; text-align: center;"
                            formControlName="desde"
                            (keydown)="$event.preventDefault();" />
                    </div>
                    <div class="m-0 col-Busqueda-dates">
                        <label class="text-black">Hasta</label>
                        <input id="dtFechaFinAdm" 
                            type="date" name="HastaBusquedaAdm" placeholder="hasta"
                            class="form-control form-control-sm w-100"
                            maxlength="10"
                            style="padding-right:0px!important; text-align: center;"
                            formControlName="hasta"
                            (keydown)="$event.preventDefault();"  />
                    </div>
                    <div class="m-0 col-Busqueda">
                        <label class="text-black">Creado por</label>
                        <input id="txtCreadoPorBusquedaAdm" 
                            type="text" 
                            class="form-control form-control-sm  w-100" 
                            placeholder="Creado por"
                            formControlName="creadoPor">
                    </div>
                    <div class="m-0 col-Busqueda-buttons">
                        <label class="text-black textAuxSpacing">&nbsp;</label>
                        <div class="flex-row" style=" display: flex !important;">
                            <button id="btnBuscar" type="submit" class="btn btn-sm btn-sm-custom" (click)="this.buscarClick()">Buscar</button>
                            <a  class="btn btn-sm btn-sm-custom btn-warning" (click)="this.crearClick()">Crear</a>
                        </div>

                    </div>
                </div>

            </form>

            <div id="rowValidacion" class="row w-100 validation-feedback validation-Dates-summary" *ngIf="this.textoValidacionFecha.length > 0">
                {{this.textoValidacionFecha}}
            </div>

        </div>

    </div>

    <!-- Grid principal -->
    <div class="row w-100 justify-content-center p-0">

        <div id="rowLoading" class="w-100" *ngIf="this.cargando">
            <img alt="Enviando ..." src="assets/images/loadings/loading1-16x16.gif" style="display: inline;" />
            <p id="textInfoEnvio" style="display: inline;" class="ml-2">Actualizando...</p>
        </div>
    
        <div id="gridBusquedaContainer" class="card w-100 ml-0 mt-2 p-0 flex-xl-shrink-1">

            <div *ngFor="let vt of this.ventas; let i = index;" 
                class="card-body ml-0 border-grey"
                [class.contenedorRowFlex]="i !== this.ventas.length -1"
                [class.contenedorLastRowFlex]="i === this.ventas.length -1"
                >

                <div class="d-flex flex-row customFlex-100 pb-0 contenedorRowFlex" style="border-bottom: 0px !important;">
                    <div class="p-1 celda" style="flex-basis: 10%;">
                        <p class="celda-Texto text-muted font-weight-bold small ">Código</p>
                        <div class="p-0 celda-Contenido">
                            <p id="_email_@aux_currentRow" class="text-muted small pr-1" style="word-break: break-all !important;">{{vt.id}}</p>
                        </div>
                    </div>
                    <div class="p-1 celda" style="flex-basis: 25%;">
                        <p class=" celda-Texto text-muted font-weight-bold small">Cliente</p>
                        <div class="p-0 celda-Contenido">
                            <p id="_nombres_@aux_currentRow" class="text-muted small">{{vt.cliente}}</p>
                        </div>
                    </div>
                    <div class="p-1 celda" style="flex-basis: 20%;">
                        <p class="celda-Texto text-muted font-weight-bold small">Fecha</p>
                        <div class="p-0 celda-Contenido">
                            <p class="text-muted small">{{vt.fechaVenta}}</p>
                        </div>
                    </div>
                    <div class="p-1 celda" style="flex-basis: 10%;">
                        <p class="celda-Texto text-muted font-weight-bold small">Propiedades</p>
                        <div id="_seciones_@aux_currentRow" class="p-0 celda-Contenido">
                            <p class="text-muted small">{{vt.propiedades}}</p>
                        </div>
                    </div>
                    <div class="p-1 celda" style="flex-basis: 10%;">
                        <p class="celda-Texto text-muted font-weight-bold small">Fotos</p>
                        <div id="_seciones_@aux_currentRow" class="p-0 celda-Contenido">
                            <p class="text-muted small">{{vt.fotos}}</p>
                        </div>
                    </div>
                    <div class="p-1 celda" style="flex-basis: 20%;">
                        <p class="celda-Texto text-muted font-weight-bold small">Servicio</p>
                        <div id="_seciones_@aux_currentRow" class="p-0 celda-Contenido">
                            <p class="text-muted small">{{vt.tipoServicio}}</p>
                        </div>
                    </div>
                    <div class="p-1 celda" style="flex-basis: 15%;">
                        <p class="celda-Texto text-muted font-weight-bold small">Opciones</p>
                        <div class="p-0 d-flex flex-row celda-Contenido rounded-buttons-icons">

                            <div *ngIf="vt.extension === '.pdf'">
                                <a title="Ver el comprobante de esta venta"
                                target="_blank" [routerLink]="['/visor-comprobante',vt.idx]"><i class="far fa-file-pdf fa-sm"></i></a>
                            </div>

                            <div *ngIf="vt.extension === '.jpeg' || vt.extension === '.jpg' || vt.extension === '.png'">
                                <a title="Ver el comprobante de esta venta"
                                target="_blank" [routerLink]="['/visor-comprobante',vt.idx]"><i class="far fa-file-image fa-sm"></i></a>
                            </div>

                            <a title="Ver el detalle de esta venta" (click)="this.onClickVerDetalle(vt.idx)"><i class="fas fa-info fa-sm"></i></a>
                            <a title="Editar este venta" (click)="this.onClickEditarVenta(vt.idx)"><i class="fas fa-pencil-alt fa-sm"></i></a>
    
                            <a title="Eliminar este venta" (click)="this.onClickBorrarVenta(vt)"><i class="fas fa-times fa-sm"></i></a>
                        </div>
                    </div>
    
                </div>
    
            </div>
    
        </div>

        <div class="d-flex p-1 m-1 justify-content-center" *ngIf="this.textoRespuestaBusqueda.length > 0">
            {{this.textoRespuestaBusqueda}}
        </div>

    </div>


    <!-- Modal info venta -->
    <app-info-venta-modal class="zindex-a"></app-info-venta-modal >

    <!-- Modal borrar venta -->
    <app-borrar-venta-modal (onVentaBorrada)="this.onVentaBorrada($event.codigoVenta, $event.codxVenta)"
        class="zindex-a"></app-borrar-venta-modal>

</div>
