<div class="auth-form-light text-center px-4 px-sm-5">
    <h4 class="orange font-weight-bold p-2"></h4>
    <div class="brand-logo justify-content-center">
        <img src="assets/images/logo-menu.png" alt="logo">
    </div>
    <h4 class="blue">Recuperar contraseña</h4>

    <div id="divContenido" class="d-flex w-100 mt-2 mb-5 pb-5">

        <form [formGroup]="this.formForgotPassword" 
            class="form-horizontal form-simple mt-3 d-flex w-100"
            (ngSubmit)="this.guardar()" 
            *ngIf="this.mostrarFormulario">





            <div class="d-flex flex-column w-100">

                <fieldset class="my-validation-sumary">
                    <div class="col-xs-12 text-center" style=" text-align: center;">
                        {{this.textoError}}
                    </div>
                </fieldset>
        
                <div class="col-xs-12 text-left pb-1" style=" text-align: center;">
                    <span class="text-black">Ingrese el email del usuario:</span>
                </div>


                <fieldset class="form-group position-relative mt-0 pt-0 row">
                    <input type="text" 
                        class="form-control border-gray form-control-lg input-lg" 
                        placeholder="Email"
                        formControlName="email" 
                        (keydown.space)="$event.preventDefault();"
                        [class.input-validation-error]="this.campoNoValido('email')" />
                        <span id="spnEmailUsuario" style="font-size:75%; color: red; " *ngIf="this.campoNoValido('email')">
                            {{this.formForgotPassword.controls['email'].errors | inputValidationEmail}}
                        </span>
                </fieldset>

                <div *ngIf="this.cargando">
                    <img alt="Enviando..." src="assets/images/loadings/loading1-16x16.gif" style="display: inline;" />
                    <p id="textInfoEnvio" style="display: inline;" class="ml-1 black">Enviando...</p>
                </div>
                
                <fieldset class="form-group position-relative has-icon-left row" *ngIf="!this.cargando">
                    <button type="submit" class="btn btn-outline-blue border-gray"><i class="icon-unlock2"></i> Enviar</button>
                </fieldset>


            </div>

        </form>

        <div d-flex flex-column w-100 *ngIf="this.mostrarPanelPostExitoso">
            <div class="col-xs-12 text-center pt-5 pb-3" style=" text-align: center;">
                <span class="text-black">{{this.textoPosterior}}</span>
            </div>
            
            <div class="col-xs-12 text-center pt-3 pb-5" style=" text-align: center;">
                <span class="text-black">Se ha enviado un correo con un enlace para crear una nueva contraseña</span>
            </div>


            <div class="col-xs-12 text-center pt-3 pb-5" style=" text-align: center;">
                <button type="button" class="btn btn-outline-blue border-gray" (click)="this.redirectToLogin()">Ir al login</button>
            </div>

        </div>

    </div>

</div>
