<!-- Contenedor general -->
<div class="row justify-content-center w-100">

    <!-- Titulo -->
    <div class="col-lg-12 d-flex flex-row">
        <i class="fas fa-angle-double-right fa-sm blue" style="position: relative; top: 10px; margin-right: 3px;"></i>
        <p class="mb-md-0 font-weight-bold justify-content-start blue w-100">Crear propiedad</p>
    </div>

    <div *ngIf="this.mostrarPanelAdmin" class="d-flex w-100">
        <!-- Selección del cliente-->
        <div id="divCliente" class="card w-100 mt-2 p-2 flex-xl-shrink-1 justify-content-center flex-column" style="width: 100% !important; margin-bottom: 0 !important;">

            <form [formGroup]="this.formCliente">
             
                <div class="d-flex justify-content-center" style="width: 100% !important;">
                    <label class="text-black w-100">Cliente</label>
                </div>
                <div class="d-flex justify-content-center row-container-busqueda" style="width: 100% !important;">
                    <div class="m-0 col-Busqueda" style="flex-basis: 90%;">                        
                        <select id="ddlCliente" 
                            class="form-control form-control-sm form-control-ddl-sm" 
                            style="height: 30px !important;"
                            (change)="this.onClienteChange()"
                            formControlName="cliente"
                            [class.input-validation-error]="this.campoNoValidoCliente('cliente')">
                            <option value="">Seleccione cliente</option>
                            <option *ngFor="let cli of this.clientes" [value]="cli.idx">{{cli.nombre}}</option>
                        </select>
                        <span class="validation-feedback" style="text-align: left;" *ngIf="this.campoNoValidoCliente('cliente')">
                            campo obligatorio
                        </span>
                    </div>
                </div>
            
    
            </form>

        </div>
    </div>

    
    <div id="divDetalle" class="card w-100 mt-2 p-2 flex-xl-shrink-1 justify-content-center flex-column" style="width: 100% !important; margin-bottom: 0 !important; padding-bottom:0px !important; @displayInicial">

        <div id="divInfoCorredor" class="d-flex justify-content-center flex-column alert pt-0 pb-0 mb-0" 
            style="width: 100% !important; text-align: center;" *ngIf="this.mostrarInfoCupo">
            <span id="spnInfoCorredorUsado" style="font-size: small;" class="mb-2">{{this.textoCupo}}</span>
        </div>

        <div *ngIf="this.mostrarPanelCliente && this.cupoDisponible > 0">
        
            <div id="divContenedorForm" style="width: 100% !important;">

                <div class="d-flex justify-content-center" style="width: 100% !important;">
                    <label class="text-black w-100">Detalle propiedad</label>
                </div>

                <form id="formCrearProp" [formGroup]="this.formCrear"  (submit)="this.guardar()">

                    <div class="edicion-container d-flex flex-column justify-content-center pl-3 pr-3 pb-2 pt-1">

                        <div class="m-0">
                            <label class="text-black mt-2 mb-0">Titulo</label>
                            <input id="txtTitulo" 
                                name="txtTitulo" 
                                type="text" 
                                class="form-control form-control-sm w-100" 
                                placeholder="Título" 
                                maxlength="800"
                                formControlName="titulo"
                                [class.input-validation-error]="this.campoNoValido('titulo')">
                            <span class="validation-feedback" style="text-align: left;" *ngIf="this.campoNoValido('titulo')">
                                campo obligatorio
                            </span>

                        </div>
                        <div class="m-0">
                            <label class="text-black mt-2 mb-0">Descripción</label>
                            <input id="txtDescripcion" 
                                name="txtDescripcion" 
                                type="text" 
                                class="form-control form-control-sm w-100"
                                placeholder="Descripción" 
                                maxlength="2000"
                                formControlName="descripcion"
                                [class.input-validation-error]="this.campoNoValido('descripcion')">
                            <span class="validation-feedback" style="text-align: left;" *ngIf="this.campoNoValido('descripcion')">
                                campo obligatorio
                            </span>

                        </div>
                        <div class="m-0">
                            <label class="text-black mt-2 mb-0">Dirección</label>
                            <input id="txtDireccion" 
                                name="txtDireccion" 
                                type="text" 
                                class="form-control form-control-sm w-100" 
                                placeholder="Dirección" 
                                maxlength="500"
                                formControlName="direccion"
                                [class.input-validation-error]="this.campoNoValido('direccion')">
                            <span class="validation-feedback" style="text-align: left;" *ngIf="this.campoNoValido('direccion')">
                                campo obligatorio
                            </span>

                        </div>
                        <div class="m-0">
                            <label class="text-black mt-2 mb-0">Habitaciones</label>
                            <input id="txtHabitaciones" digitOnly
                                name="txtHabitaciones" 
                                class="form-control form-control-sm" 
                                placeholder=""
                                maxlength="2"
                                formControlName="habitaciones"
                                [class.input-validation-error]="this.campoNoValido('habitaciones')">
                            <span class="validation-feedback" style="text-align: left;" *ngIf="this.campoNoValido('habitaciones')">
                                campo obligatorio
                            </span>

                        </div>
                        <div class="m-0">
                            <label class="text-black mt-2 mb-0">Baños</label>
                            <input id="txtBanos" digitOnly
                                name="txtBanos" 
                                class="form-control form-control-sm"
                                placeholder="" 
                                maxlength="2"
                                formControlName="banos"
                                [class.input-validation-error]="this.campoNoValido('banos')">
                            <span class="validation-feedback" style="text-align: left;" *ngIf="this.campoNoValido('banos')">
                                campo obligatorio
                            </span>
                        </div>
                        <div class="m-0">
                            <label class="text-black mt-2 mb-0">Región</label>
                            <select id="ddlRegiones"
                                    class="form-control form-control-sm form-control-ddl-sm w-100"
                                    formControlName="region"
                                    [class.input-validation-error]="this.campoNoValido('region')"
                                    (change)="this.onCambiarRegion()">
                                <option value="">Seleccione región</option>
                                <option [value]="reg.id" *ngFor="let reg of this.regiones">{{reg.descripcion}}</option>
                            </select>
                            <span class="validation-feedback" style="text-align: left;" *ngIf="this.campoNoValido('region')">
                                campo obligatorio
                            </span>

                        </div>
                        <div class="m-0">
                            <label class="text-black mt-2 mb-0">Comuna</label>
                            <select id="ddlComunas" 
                                class="form-control form-control-sm form-control-ddl-sm w-100"
                                formControlName="comuna"
                                [class.input-validation-error]="this.campoNoValido('comuna')">
                                <option value="">Seleccione comuna</option>
                                <option [value]="reg.id" *ngFor="let reg of this.comunas">{{reg.descripcion}}</option>
                            </select>
                            <span class="validation-feedback" style="text-align: left;" *ngIf="this.campoNoValido('comuna')">
                                campo obligatorio
                            </span>

                        </div>
                        <div id="divValidationInfo" class="m-0 input-validation-error" style="text-align: center;">

                        </div>

                        <div class="d-flex justify-content-end">
                            <button id="btnGuardar" type="submit" class="btn btn-sm btn-sm-custom btn-warning" style=" margin-right: 2em !important; margin-bottom: 1em !important;">
                                Guardar
                            </button>
                        </div>
                    </div>

                </form>

            </div>

        </div>

    </div>



</div>