<div #mdlPublicar 
    class="modal fade in"    
    aria-labelledby="mdlItemizadoTitle" 
    data-backdrop="false"
    style="background-color: rgba(0, 0, 0, 0.5); z-index: 5000;">

    <div class="modal-dialog modal-dialog-centered modal-lg mx-auto" role="document">
        <div class="modal-content d-flex justify-content-center">

            <div class="modal-header">
                <h5 id="mdlInfoPropiedadTitleView" class="modal-title">{{this.textoTitulo}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="this.cerrarModal()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="d-flex justify-content-center p-3 flex-column"
                style="padding-top: 5px; padding-bottom: 5px;width: 100% !important;">
                <!-- <p class="w-100 text-center">{{this.contenidoPublicar}}</p> -->
                <div class="w-100 text-center p-3">
                    La propiedad código <span class="">{{this.codigoPropiedad}}</span>, título: "
                    <span class="">{{this.tituloPropiedad}}</span>" será publicada.
                </div>
                <br>
                <br>
                <div class="w-100 text-center">
                    Esto generará un link donde cualquier usuario podrá ver el detalle de la publicación
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-sm-custom btn-light" (click)="this.cerrarModal()" >Cancelar</button>
                <button id="btnGuardarHotspot" 
                    class="btn btn-sm btn-sm-custom btn-warning" 
                    (click)="this.enviarPublicacion()">Publicar</button>
            </div>
        </div>
    </div>
       
    <div class="modalOverlayCustom cBaseCuadranteBloqueo" *ngIf="this.mostrarOverlay">
        <div class="modalOverlayLoadingCustom" *ngIf="this.actualizando">
            <img alt="Enviando ..." src="assets/images/loadings/loading1-16x16.gif" style="display: inline; height:16px; margin-right:2px;" />
            <p style="display: inline;">Actualizando...</p>
        </div>
        <div class="modalOverlayInfoCustom" *ngIf="this.mostrarInfoOverlay">
            <button type="button" class="close modalOverlayCerrarCustom modalOverlayBtnCerrar"
                *ngIf="this.mostrarCerrarOverlay"
                (click)="this.cerrarModalOverlay()">
                <span aria-hidden="true" class="modalOverlayBtnX">&times;</span>
            </button>
            <button type="button" class="close modalOverlayCerrarCustom modalOverlayBtnCerrar"
                *ngIf="this.mostrarCerrarAll"
                (click)="this.cerrarModalAll()">
                <span aria-hidden="true" class="modalOverlayBtnX">&times;</span>
            </button>
            <p style="display: inline;">{{this.textoPosteriorCambio}}</p>

        </div>
    </div>

</div>
