@import "~bootstrap/dist/css/bootstrap.css";

.login-background {
    background: linear-gradient(rgba(29, 43, 54, 0.75), rgba(29, 43, 54, 0.75)), url("~src/assets/template/backgrounds/background.jpg") center center !important;
    background-size: cover;
    /* Here's the same styles we applied to our content-div earlier */
    color: white;
    align-items: center;
    justify-content: center;
}

.auth-link {
    font-size: 0.875rem;
    text-decoration: none;
    color: #000 !important;
}

.auth-link:hover {
    color: initial;
    text-decoration: none;
    color: #2196F3 !important;
}

.pointer{
    cursor: pointer !important;
}

.cursor-default{
    cursor: default !important;
}
