/* @import "~bootstrap/dist/css/bootstrap.css"; */


.login-background {
    background: linear-gradient(rgba(29, 43, 54, 0.75), rgba(29, 43, 54, 0.75)), url("~src/assets/template/backgrounds/background.jpg") center center !important;
    background-size: cover;
    /* Here's the same styles we applied to our content-div earlier */
    color: white;
    align-items: center;
    justify-content: center;
}

.auth-link {
    font-size: 0.875rem;
    text-decoration: none;
    color: #000 !important;
}

.auth-link:hover {
    color: initial;
    text-decoration: none;
    color: #2196F3 !important;
}

.pointer{
    cursor: pointer !important;
}

.cursor-default{
    cursor: default !important;
}


.modal95 {
    width: 95% !important;
    min-width: 95% !important;
    height: 95vh !important;
    min-height: 95vh !important;
}

.hight95 {
    height: 90vh !important;
    min-height: 90vh !important;
}

.zindex-a{
    z-index: 50000 !important;
}

.zindex-b{
    z-index: 60000 !important;
}

.zindex-c{
    z-index: 70000 !important;
}

.zindex-d{
    z-index: 80000 !important;
}

.input-group-sm > .input-group-btn > select.btn:not([size]):not([multiple]), .input-group-sm > select.form-control:not([size]):not([multiple]), .input-group-sm > select.input-group-addon:not([size]):not([multiple]), select.form-control-sm:not([size]):not([multiple]) {

    height: 2.2rem !important;

}