<!-- Contenedor general -->
<div class="row justify-content-center w-100">

    <!-- Titulo -->
    <div class="col-lg-12 d-flex flex-row">
        <i class="fas fa-angle-double-right fa-sm blue" style="position: relative; top: 10px; margin-right: 3px;"></i>
        <p class="mb-md-0 font-weight-bold justify-content-start blue w-100">Crear venta</p>
    </div>
    
     <!-- Formulario contenido principal -->
    <div class="w-100" *ngIf="this.mostrarFormularioPrincipal">
    
        <form [formGroup]="this.formCrear" (submit)="this.guardar()">

            <!-- Selección del cliente-->
            <div id="divCliente" class="card w-100 mt-2 p-2 flex-xl-shrink-1 justify-content-center flex-column" style="width: 100% !important; margin-bottom: 0 !important;">

                <div class="d-flex justify-content-center" style="width: 100% !important;">
                    <label class="text-black w-100">Cliente</label>
                </div>
                <div class="d-flex justify-content-center row-container-busqueda" style="width: 100% !important;">
                    <div class="m-0 col-Busqueda" style="flex-basis: 90%;">
                        <select id="ddlCliente" 
                            class="form-control form-control-sm form-control-ddl-sm" style="height: 30px !important;"
                            formControlName="cliente"
                            [class.input-validation-error]="this.campoNoValido('cliente')">
                            <option value="">Seleccione cliente</option>
                            <option *ngFor="let cli of this.clientes" [value]="cli.idx">{{cli.nombre}}</option>
                        </select>

                        <span class="validation-feedback" style="text-align: left;" *ngIf="this.campoNoValido('cliente')">
                            campo obligatorio
                        </span>
                    </div>
                </div>

            </div>
        
            <div id="divDetalle" class="card w-100 mt-2 p-2 flex-xl-shrink-1 justify-content-center flex-column" 
                style="width: 100% !important; margin-bottom: 0 !important; padding-bottom:0px !important;">
                <div class="d-flex justify-content-center" style="width: 100% !important;">
                    <label class="text-black w-100">Detalle venta</label>
                </div>
              
                <div class="edicion-container d-flex flex-column justify-content-center pl-3 pr-3 pb-2 pt-1">

                    <div class="m-0">
                        <label class="text-black mb-0 mt-1">Cantidad propiedades</label>
                        <input id="txtCantidadProp" digitOnly type="text"
                            name="txtCantidadProp"
                            class="form-control form-control-sm" 
                            placeholder="" 
                            maxlength="4"
                            formControlName="cantidadPropiedades"
                            [class.input-validation-error]="this.campoNoValido('cantidadPropiedades')">

                        <span class="validation-feedback" style="text-align: left;" *ngIf="this.campoNoValido('cantidadPropiedades')">
                            campo obligatorio
                        </span>
                    </div>
                    <div class="m-0">
                        <label class="text-black mb-0 mt-1">Cantidad Fotos</label>
                        <input id="txtCantidadFotos" digitOnly
                            name="txtCantidadFotos"
                            class="form-control form-control-sm" 
                            placeholder="" 
                            maxlength="4"
                            formControlName="cantidadFotos"
                            [class.input-validation-error]="this.campoNoValido('cantidadFotos')">

                        <span class="validation-feedback" style="text-align: left;" *ngIf="this.campoNoValido('cantidadFotos')">
                            campo obligatorio
                        </span>
                    </div>
                    <div class="m-0">
                        <label class="text-black mb-0 mt-1">Tipo servicio</label>
                        <select id="ddlTiposServicio" 
                            class="form-control form-control-sm form-control-ddl-sm w-100"
                            formControlName="tipoServicio"
                            [class.input-validation-error]="this.campoNoValido('tipoServicio')">
                            <option value="">Seleccione un tipo servicio</option>
                            <option *ngFor="let ts of this.tiposServicio" [value]="ts.id" >{{ts.descripcion}}</option>
                        </select>

                        <span class="validation-feedback" style="text-align: left;" *ngIf="this.campoNoValido('tipoServicio')">
                            campo obligatorio
                        </span>

                    </div>
                    <div class="m-0">
                        <label class="text-black mb-0 mt-1">Monto venta</label>
                        <input id="txtMontoVenta" name="txtMontoVenta" digitOnly
                            class="form-control form-control-sm" 
                            placeholder="" 
                            maxlength="10"
                            formControlName="montoVenta"
                            [class.input-validation-error]="this.campoNoValido('montoVenta')">
                        
                        <span class="validation-feedback" style="text-align: left;" *ngIf="this.campoNoValido('montoVenta')">
                            campo obligatorio
                        </span>
                    </div>
                    <div class="m-0">
                        <label class="text-black mb-0 mt-1">Comentario</label>
                        <input id="txtComentario" 
                            name="txtComentario" 
                            type="text" 
                            class="form-control form-control-sm w-100" 
                            placeholder="Comentario" 
                            maxlength="2000"
                           >
                    </div>
                    <div class="m-0">
                        <label class="text-black mb-0 mt-1">Comprobante pago</label>
                        <input id="fileComprobantePago" 
                            name="fileComprobantePago" 
                            type="file" 
                            class="form-control form-control-sm w-100"
                            accept="image/jpeg,image/jpg, image/png"
                            formControlName="comprobante"
                            [class.input-validation-error]="this.campoNoValido('comprobante')"
                            >
                    </div>
                    <div id="divValidationInfo" class="m-0 input-validation-error" style="text-align: center;">

                    </div>
                    <div class="d-flex justify-content-end">
                        <button id="btnGuardar" type="submit" class="btn btn-sm btn-sm-custom btn-warning" style=" margin-right: 2em !important; margin-bottom: 1em !important;">
                            Guardar
                        </button>
                    </div>
                </div>

              

            </div>
        
        </form>

    </div>

        <!-- Opciones-->
        <div id="containerOpciones" style="width: 100% !important;" *ngIf="this.mostrarOpcionesPosteriores">
            <div id="rowWrapperOptions" class="w-100 d-flex justify-content-center">
    
                <div class="card d-flex w-100 justify-content-center">
            
                    <div class="card-body d-flex justify-content-center">
                        <div class="card-block">
            
                            <div class="card-title justify-content-center">
                                <p id="textoOptionsResp" class="blue text-center">{{this.textoOpcionesPosterior}}</p>
                            </div>
                            <div class="media justify-content-center">
                                <div class="media-right wraper-btn-options">
                                    <a (click)="this.redirectToCreate()"
                                       class="btn btn-sm btn-options btn-outline-light-orange border-black m-2">Crear otra venta</a>
            
                                    <a (click)="this.redirectToBusqueda()"
                                       class="btn btn-sm btn-options btn-outline-light-orange border-black m-2">Búsqueda de ventas</a>
                                  
                                </div>
                            </div>
            
                        </div>
                    </div>
            
                </div>
            
            </div>
        </div>
    
        <!-- Overlay General -->
        <div id="modalOverlayGeneral" class="d-abslt cBaseCuadranteBloqueo" *ngIf="this.mostrarOverlay"
                style=" z-index:8; background-color:rgba(180, 180, 180, 0.5); width: 100%; height: 100%; padding-top: 8em;">
            
            <!-- Cargando -->
            <div id="modalOverlayLoadingGeneral" class="modalOverlayLoadingCustom" *ngIf="this.mostrarLoading">
                <img alt="Enviando ..." src="assets/images/loadings/loading1-16x16.gif" style="display: inline; height:16px; margin-right:2px;" />
                <p style="display: inline;">Actualizando...</p>
            </div>
            
            <!-- Overlay INFO-->
            <div id="modalOverlayInfoGeneral" class="modalOverlayInfoCustom" *ngIf="this.mostrarInfoGeneral">
                <button id="btnCerrarOverlayGeneral" (click)="this.ocultarModal()" type="button" class="close modalOverlayCerrarCustom modalOverlayBtnCerrar">
                    <span aria-hidden="true" class="modalOverlayBtnX">&times;</span>
                </button>
                
                <!-- parrafo info -->
                <p id="textInfoOverlayGeneral" style="display: inline; text-align: center !important;">
                   {{this.textoOverlay}}
                </p>
    
            </div>
        </div>

</div>